.container {
  flex: 1;
  height: 100%;
}

.table {
  width: 100%;
}

.wrap_buttons {
  display: flex;
  justify-content: flex-end;
  padding: 1em;
}

.form {
  display: flex;
  flex-direction: column;
}

.form_input {
  padding: 0.5em;
  margin: 1em;
}