.sidebar {
  display: flex;
  justify-content: flex-end;
  width: var(--sidebar-width);
  height: 100vh;
  transition: width .3s;
  background-color: var(--revert-bg-color);
}

.container {
  position: relative;
  transform: translateX(100%);
  width: 0;
  right: 0;
  top: 0;
}

.toggle_sidebar {
  padding: 1em;
  width: 100px;
  margin: 0;
}

.theme {
  display: flex;
  align-items: center;
  gap: 20px;
  position: absolute;
  bottom: 20px;
  left: 20px;
}

.visible {
  width: 0;
  padding: 0;
}
